footer {
    width: 100%;
    height: 280px;
    position: relative;
    bottom: 0;
    margin-top: 30px;

    +below($tablet) {
        height: 240px;
    }

    .footer {
        width: 100%;
        height: 230px;
        background-color: #ADA197;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 50px 0 30px 0;

        +below($tablet) {
            height: 200px;
            padding: 30px 5%;
            justify-content: space-around;
        }

        +mobile() {
            height: 340px;
            padding: 30px 5% 15px 5%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .links-principais {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 60px 0 0;

            +below($tablet) {
                padding: 0;
            }

            +mobile() {
                margin: 0;
                align-items: center;
            }

            .link-footer {
                raleway(14, bold);
                color: #FFF;
                margin: 0 0 12px 0;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 12px;
                    margin: 0 0 10px 0;
                }

                &:hover, &.active {
                    color: $azul;
                }
            }
        }

        .links-produtos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 60px 0 0;

            +below($tablet) {
                padding: 0;
            }

            +mobile() {
                margin: 0;
                align-items: center;
            }

            .link-footer {
                raleway(14, bold);
                color: #FFF;
                margin: 0 0 5px 0;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 12px;
                }

                +mobile() {
                    margin: 0 0 10px 0;
                }

                &:hover, &.active {
                    color: $azul;
                }
            }

            .sublink-footer {
                raleway(14, medium);
                color: #FFF;
                margin-bottom: 5px;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 12px;
                }

                +mobile() {
                    display: none;
                }

                > span {
                    font-size: 8px;
                    margin-right: 3px;
                    transition: 0.3s ease;
                }

                &:hover {
                    color: $azul;

                    > span {
                        color: $azul;
                    }
                }
            }
        }

        .links-servicos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 60px 0 0;

            +below($tablet) {
                padding: 0;
            }

            +mobile() {
                margin: 0;
                align-items: center;
            }

            .link-footer {
                raleway(14, bold);
                color: #FFF;
                margin: 0 0 5px 0;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 12px;
                }

                +mobile() {
                    margin: 0 0 10px 0;
                }

                &:hover, &.active {
                    color: $azul;
                }
            }

            .sublink-footer {
                raleway(14, medium);
                color: #FFF;
                margin-bottom: 5px;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 12px;
                }

                +mobile() {
                    display: none;
                }

                > span {
                    font-size: 8px;
                    margin-right: 3px;
                    transition: 0.3s ease;
                }

                &:hover {
                    color: $azul;

                    > span {
                        color: $azul;
                    }
                }
            }
        }

        .links-secundarios {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 60px 0 0;

            +below($tablet) {
                padding: 0;
            }

            +mobile() {
                margin: 0 0 20px 0;
                align-items: center;
            }

            .link-footer {
                raleway(14, bold);
                color: #FFF;
                margin: 0 0 5px 0;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 12px;
                }

                +mobile() {
                    margin: 0 0 10px 0;
                }

                &:hover {
                    color: $azul;
                }
            }

            .sublink-footer {
                raleway(14, medium);
                color: #FFF;
                margin-bottom: 5px;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 12px;
                }

                +mobile() {
                    display: none;
                }

                > span {
                    font-size: 8px;
                    margin-right: 3px;
                    transition: 0.3s ease;
                }

                &:hover, &.active {
                    color: $azul;

                    > span {
                        color: $azul;
                    }
                }
            }
        }

        .dados-empresa {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 0 0 100px;

            +below($tablet) {
                padding: 0 0 0 50px;
            }

            +mobile() {
                width: 100%;
                padding: 0;
                align-items: center;
            }

            .logo-footer {
                margin-bottom: 10px;

                +mobile() {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }

                .img-logo {
                    width: 65%;
                    transition: transform 0.2s;

                    +mobile() {
                        width: 45%;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .filial1 {
                raleway(14, bold);
                color: #FFF;
                margin: 0;
                line-height: 1.2;

                +below($tablet) {
                    font-size: 12px;
                }
            }

            .filial2 {
                raleway(14, bold);
                color: #FFF;
                margin: 10px 0 0 0;
                line-height: 1.2;

                +below($tablet) {
                    font-size: 12px;
                }
            }

            .telefone {
                exo(14, medium);
                color: #FFF;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 12px;
                }

                &:hover {
                    color: $azul;
                }
            }

            .atendimento {
                raleway(11);
                color: #FFF;
                margin: 15px 0 0 0;

                +below($tablet) {
                    font-size: 10px;
                }

                +mobile() {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .direitos {
        width: 100%;
        height: 50px;
        background-color: #8C837A;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        +below($tablet) {
            height: 40px;
        }

        +mobile() {
            padding: 5px;
            flex-wrap: wrap;
        }

        .empresa {
            raleway(12);
            color: #FFF;
            margin: 0 5px 0 0;

            +below($tablet) {
                font-size: 10px;
            }

            +mobile() {
                width: 100%;
                text-align: center;
                margin: 0;
            }
        }

        .link-trupe {
            raleway(12);
            color: #FFF;
            margin-right: 5px;
            transition: 0.3s ease;

            +below($tablet) {
                font-size: 10px;
            }

            &:hover {
                color: $azul;
            }
        }
    }
}