header {
    width: 100%;
    height: 110px;
    top: 0;
    left: 0;
    z-index: 999;
    position: fixed;

    &.header-home {
        background-color: rgba(255, 255, 255, 0.7);
    }

    &.header-geral {
        background-color: #FFF;
    }

    .linha-topo {
        width: 100%;
        margin: 0;
        border: 1px solid $laranja;
    }

    .centralizado {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo-header {
            .img-logo {
                width: 100%;
                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        nav {
            width: auto;
            height: 100%;
            display: flex;

            +below($tablet) {
                position: absolute;
                display: none;
                background-color: #FFF;
                width: 100%;
                left: 0;
                height: auto;
                top: 105px;
                padding: 15px 5%;
                z-index: 99;
                margin-top: 0;
            }

            div.itens-menu {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;

                +below($tablet) {
                    flex-direction: column;
                    align-items: flex-end;
                    padding: 0 5%;
                }

                .link-nav {
                    width: auto;
                    display: flex;
                    align-items: center;
                    exo(18, medium);
                    color: $cinza;
                    padding: 0 20px;
                    transition: 0.2s ease;

                    +below($tablet) {
                        padding: 10px 0 5px 0;
                    }

                    &:hover, &:focus, &.active {
                        color: $laranja;
                    }
                }

                .link-busca {
                    width: 30px;
                    height: 30px;
                    margin: 0 30px;
                    background-image: $img('icone-lupa.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: auto;
                    transition: background-image 0.3s ease-in-out;

                    +below($tablet) {
                        margin: 15px 0;
                    }

                    &:hover, &:focus, &.active {
                        background-image: $img('icone-lupa-laranja.svg');
                        background-size: 85%;
                    }
                }

                .cotacao {
                    width: auto;
                    margin: 0 15px 0 45px;

                    +below($tablet) {
                        margin: 5px 0;
                    }

                    .dolar {
                        exo(14);
                        font-weight: 600;
                        color: $azul;
                        margin: 0;
                        line-height: 1.2;
                    }

                    .infos-cotacao {
                        exo(11);
                        color: $azul;
                        text-align: center;
                        margin: 0;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}

#mobile-toggle {
    +above($tablet) {
        display: none;
    }

    display: block;
    background-color: transparent;
    border: 0;
    position: relative;
    height: 40%;
    width: 28px;
    outline: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 5% 0 auto;

    +mobile() {
        margin: 10px 5% 0 auto;
        height: 20%;
    }

    .lines {
        display: block;
        width: 100%;
        height: 4px;
        background-color: $azul;
        position: relative;
        transition: 0.3s ease;
        border-radius: 3px;

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $azul;
            transition: 0.3s ease;
            border-radius: 3px;
        }

        &.internas {
            background-color: $azul;

            &:before, &:after {
                background-color: $azul;
            }
        }

        &:before {
            top: 7px;
        }

        &:after {
            top: -7px;
        }
    }

    &.close {
        .lines {
            display: block;
            background: transparent;
            z-index: 9999;

            &:before, &:after {
                transform-origin: 50% 50%;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }

        .lines-home {
            background: transparent;

            &:before, &:after {
                transform-origin: 50% 50%;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}

.busca-header {
    width: 100%;
    height: auto;
    background-color: #FFF;
    position: fixed;
    left: 0;
    top: 2px;
    padding: 35px 0;
    z-index: 999;

    +below($tablet) {
        padding: 30px 0;
    }

    +mobile() {
        overflow-y: auto;
    }

    .btn-fechar-busca {
        position: absolute;
        right: 5%;
        top: 40px;

        +below($tablet) {
            top: 35px;
        }

        +mobile() {
            top: 25px;
        }

        .img-fechar {
            width: 100%;
            transition: transform 0.5s;

            +below($tablet) {
                width: 80%;
            }
        }

        &:hover {
            .img-fechar {
                transform: rotate(360deg) scale(1.2);
            }
        }
    }

    .form-palavra-chave {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 35px;
        border-bottom: 1px solid $laranja;

        +below($tablet) {
            padding-bottom: 30px;
        }

        +mobile() {
            flex-direction: column;
        }

        .frase-busca {
            exo(18);
            color: $cinza;
            margin: 0;

            +below($tablet) {
                font-size: 14px;
            }

            +mobile() {
                width: 80%;
                text-align: center;
            }
        }

        input[type=text] {
            width: 440px;
            height: 50px;
            border: 1px solid #CCCCCC;
            border-radius: 5px;
            background-color: #FFF;
            raleway(18);
            color: $cinza;
            outline: none;
            margin: 0 20px;
            padding: 0 10px;

            +below($tablet) {
                width: 35%;
                height: 40px;
                font-size: 14px;
                margin: 0 15px;
            }

            +mobile() {
                width: 80%;
                margin: 10px 0;
            }

            +placeholder() {
                color: $cinza;
                background-color: #FFF;
            }
        }

        .btn-buscar {
            width: 160px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid $laranja;
            background-color: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            exo(18, bold);
            color: $laranja;
            outline: none;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            +below($tablet) {
                width: 12%;
                height: 40px;
                font-size: 14px;
            }

            +mobile() {
                width: 80%;
            }

            &:hover {
                background-color: $laranja;
                color: #FFF;
            }
        }
    }

    .filtro {
        width: 90%;
        margin: 40px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        +below($tablet) {
            margin: 30px auto;
        }

        +mobile() {
            flex-direction: column;
        }

        .frase-filtro {
            width: auto;
            margin: 0 20px 0 0;
            exo(18);
            color: $cinza;

            @media (max-width: 1400px) and (min-width: 1260px) {
                font-size: 16px;
            }

            +below($tablet) {
                margin: 0 15px 0 0;
                font-size: 13px;
            }

            +mobile() {
                width: 100%;
                text-align: center;
                margin: 0 0 10px 0;
            }
        }

        select.categorias-filtro, select.aplicacoes-filtro {
            width: 340px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid #CCCCCC;
            margin: 0 20px 0 0;
            padding: 0 20px;
            display: flex;
            align-items: center;
            exo(18);
            color: $cinza;
            outline: none;
            appearance: none;
            background: $img('seta-triangulo.svg') no-repeat 97% #FFF;
            background-size: 12px;
            transition: 0.3s ease-in-out;

            @media (max-width: 1400px) and (min-width: 1260px) {
                width: 25%;
            }

            +below($tablet) {
                width: 23%;
                height: 40px;
                margin: 0 15px 0 0;
                padding: 0 15px;
                font-size: 14px;
                background-size: 10px;
            }

            +mobile() {
                width: 80%;
                margin: 0 0 10px 0;
            }

            option {
                exo(18);
                color: $cinza;

                +below($tablet) {
                    font-size: 14px;
                }
            }

            &:hover {
                color: $laranja;
                border: 1px solid $laranja;
            }
        }

        .btn-filtro-buscar {
            width: 160px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid $laranja;
            background-color: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            exo(18, bold);
            color: $laranja;
            outline: none;
            transition: all 0.5s ease-in-out;

            @media (max-width: 1400px) and (min-width: 1260px) {
                width: 12%;
            }

            +below($tablet) {
                width: 12%;
                height: 40px;
                font-size: 14px;
            }

            +mobile() {
                width: 80%;
            }

            &:hover {
                background-color: $laranja;
                color: #FFF;
            }
        }
    }

    .linhas-categorias {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        +below($tablet) {
            flex-wrap: wrap;
        }

        .linha {
            width: 200px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 35px;

            @media (max-width: 1400px) and (min-width: 1260px) {
                width: 14%;
                margin: 0 20px;
            }

            +below($tablet) {
                width: 25%;
                margin: 0 25px 25px 25px;
            }

            +mobile() {
                width: 40%;
                margin: 0 15px 15px 15px;
            }

            .link-linha {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 15px 0;
                exo(20, bold);
                color: $cinza;
                text-align: center;
                text-transform: uppercase;
                transition: 0.3s ease-in-out;

                @media (max-width: 1400px) and (min-width: 1260px) {
                    font-size: 18px;
                }

                +below($tablet) {
                    margin: 10px 0;
                    font-size: 16px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 14px;
                }

                &:hover {
                    color: $laranja;
                }
            }

            .categorias {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                +below($tablet) {
                    width: 80%;
                }

                +mobile() {
                    width: 100%;
                }

                .link-categoria {
                    width: 100%;
                    height: 40px;
                    margin: 2px 0;
                    border: none;
                    outline: none;
                    background-color: #E6E6E6;
                    exo(18);
                    color: $cinza;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease-in-out;

                    @media (max-width: 1400px) and (min-width: 1260px) {
                        font-size: 16px;
                    }

                    +below($tablet) {
                        font-size: 14px;
                        height: 30px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    &:hover {
                        background-color: $laranja;
                        color: #FFF;
                    }
                }
            }
        }
    }
}

.aviso-cookies {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
    padding: 30px;

    +mobile() {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .frase-cookies {
        width: 65%;
        raleway(16);
        color: #FFF;
        margin: 0;

        .link-politica {
            text-decoration: underline;

            &:hover, &:focus {
                font-weight: bold;
            }
        }

        +below($tablet) {
            font-size: 12px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
        }
    }

    .aceitar-cookies {
        width: 15%;
        height: 40px;
        raleway(16);
        color: #FFF;
        background-color: transparent;
        border: 1px solid #FFF;
        border-radius: 0;
        margin-left: 30px;
        cursor: pointer;
        outline: none;

        &:hover, &:focus {
            border: 1px solid $cinza;
            background-color: $cinza;
        }

        +below($tablet) {
            font-size: 12px;
            height: 30px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 10px;
        }
    }
}