desktop-base-width = 1200px;
rupture.desktop-cutoff = $tablet = 1200px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;
$vermelho = #E02227;
$verde = #2caf2c;
$laranja = #ED6E00;
$azul = #002469;
$cinza = #808080;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;500;700&family=Raleway:wght@100;400;500;700&display=swap');

exo($size, $weight = normal) {
    font-family: 'Exo 2', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 100;
    }

    if ($weight == medium) {
        font-weight: 500;
    }

    if ($weight == bold) {
        font-weight: 700;
    }
}

raleway($size, $weight = normal) {
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 100;
    }

    if ($weight == medium) {
        font-weight: 500;
    }

    if ($weight == bold) {
        font-weight: 700;
    }
}