section.busca {
    width: 100%;
    height: auto;
    margin-top: 110px;
    background-color: #fff;
    position: relative;

    .capa-busca {
        width: 100%;
        height: 120px;
        background-position: center;
        background-size: cover;

        +below($tablet) {
            height: 100px;
        }

        +mobile() {
            height: 70px;
        }

        .titulo-capa {
            width: 50%;
            height: 100%;
            exo(28, medium);
            color: $azul;
            margin: 0 0 0 auto;
            display: flex;
            align-items: center;

            +below($tablet) {
                font-size: 22px;
            }

            +mobile() {
                width: 90%;
                font-size: 18px;
            }
        }
    }

    .titulo-busca {
        width: 90%;
        margin: 40px auto 0 auto;
        padding-bottom: 45px;
        border-bottom: 2px solid $laranja;
        exo(18);
        color: $cinza;

        +below($tablet) {
            font-size: 14px;
            margin: 30px auto 0 auto;
            padding-bottom: 30px;
        }

        +mobile() {
            font-size: 12px;
        }

        > span {
            exo(24, medium);
            color: $cinza;
            text-transform: uppercase;
            margin: 0 0 0 15px;

            +below($tablet) {
                font-size: 18px;
                margin: 0 0 0 10px;
            }

            +mobile() {
                font-size: 16px;
                margin: 0 0 0 5px;
            }
        }
    }

    .resultados {
        width: 90%;
        margin: 0 auto 60px auto;

        .link-resultado {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 2px solid #C0C0C0;
            background: $img('seta-fina.svg') no-repeat 100% #FFF;
            transition: background 0.5s ease-in-out;

            +below($tablet) {
                height: 80px;
            }

            +mobile() {
                height: auto;
                padding: 15px 0;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }

            .menu-titulo {
                width: 30%;
                exo(18, bold);
                color: $laranja;
                text-transform: uppercase;
                margin: 0 1.5% 0 0;
                transition: 0.5s ease-in-out;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    width: 90%;
                    margin: 0;
                }
            }

            .texto-resultado {
                width: 65%;
                raleway(18);
                color: $cinza;
                margin: 0 3.5% 0 0;
                transition: 0.5s ease-in-out;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    width: 90%;
                    margin: 0;
                }

                > p {
                    margin: 0 0 15px 0;
                    line-height: 1.5;
                }
            }

            &:hover {
                background: $img('seta-fina-azul.svg') no-repeat 100% #f2f2f2;

                .menu-titulo {
                    color: $azul;
                }

                .texto-resultado {
                    color: $azul;
                }
            }
        }

        .nenhum-resultado {
            width: 100%;
            height: 100px;
            raleway(18, medium);
            color: $cinza;
            margin: 0;
            border-bottom: 2px solid #C0C0C0;
            display: flex;
            align-items: center;

            +below($tablet) {
                font-size: 14px;
            }

            +mobile() {
                height: 80px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }

            > strong {
                margin: 0 0 0 10px;

                +mobile() {
                    margin: 0;
                }
            }
        }
    }
}