section.contato {
    width: 100%;
    height: auto;
    margin-top: 110px;
    background-color: #fff;
    position: relative;

    .capa-contato {
        width: 100%;
        height: 490px;
        display: flex;

        +below($tablet) {
            height: 400px;
        }

        +mobile() {
            flex-direction: column;
            height: 500px;
        }

        .capa {
            width: 50%;
            height: 100%;

            +mobile() {
                width: 100%;
                height: 35%;
            }

            .img-capa {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .dados-capa {
            width: 50%;
            height: 100%;
            background-color: #F2F3F7;
            padding: 0 2% 0 100px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            @media (max-width: 1400px) and (min-width: 1260px) {
                padding: 0 2% 0 60px;
            }

            +below($tablet) {
                padding: 0 2% 0 60px;
            }

            +mobile() {
                width: 100%;
                height: 65%;
                padding: 0 5%;
            }

            .fale-conosco {
                width: 100%;
                exo(18);
                color: $azul;
                margin: 0 0 15px 0;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                    margin: 0 0 10px 0;
                }
            }

            .contatos {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;

                .dados-left {
                    width: 35%;

                    +below($tablet) {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .atendimentos {
                        exo(18, bold);
                        color: $azul;
                        margin: 0;

                        +below($tablet) {
                            width: 100%;
                            font-size: 14px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }
                    }

                    .horarios {
                        exo(12);
                        color: $azul;
                        margin: 5px 0 35px 0;

                        +below($tablet) {
                            width: 100%;
                            margin: 5px 0 15px 0;
                        }

                        +mobile() {
                            font-size: 10px;
                            margin: 5px 0 10px 0;
                        }
                    }

                    .filial-1, .filial-2 {
                        margin: 0;
                        display: flex;
                        align-items: center;

                        +below($tablet) {
                            width: 50%;
                        }

                        .icone-fone {
                            margin-right: 20px;

                            +below($tablet) {
                                margin-right: 15px;
                            }

                            +mobile() {
                                margin-right: 10px;
                            }
                        }

                        .local-telefone {
                            .local, .telefone {
                                exo(18);
                                color: $azul;
                                margin: 0;

                                +below($tablet) {
                                    font-size: 14px;
                                }

                                +mobile() {
                                    font-size: 12px;
                                }
                            }

                            .telefone {
                                transition: 0.5s ease-in-out;

                                &:hover {
                                    color: $laranja;
                                }
                            }
                        }
                    }

                    .filial-1 {
                        margin: 0 0 20px 0;

                        +below($tablet) {
                            margin: 0;
                        }
                    }
                }

                .dados-right {
                    width: 65%;
                    padding-left: 50px;

                    +below($tablet) {
                        width: 100%;
                        padding: 30px 0 0 0;
                    }

                    +mobile() {
                        padding: 20px 0 0 0;
                    }

                    .frase-emails {
                        exo(18);
                        color: $azul;
                        margin: 0 0 20px 0;

                        +below($tablet) {
                            font-size: 14px;
                            margin: 0 0 15px 0;
                        }

                        +mobile() {
                            font-size: 12px;
                            margin: 0 0 10px 0;
                        }
                    }

                    .email-vendas, .email-marketing, .email-compras, .email-rh {
                        display: block;
                        exo(18);
                        color: $azul;
                        margin: 0 0 15px 0;
                        transition: 0.5s ease-in-out;

                        +below($tablet) {
                            font-size: 14px;
                            margin: 0 0 10px 0;
                        }

                        +mobile() {
                            font-size: 12px;
                        }

                        .icone-email {
                            width: 20px;
                            margin-right: 5px;
                            transition: transform 0.5s;
                        }

                        > span {
                            margin: 0 5px;
                        }

                        &:hover {
                            color: $laranja;

                            .icone-email {
                                transform: rotate(360deg) scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }

    .form-contato-externo {
        width: 100%;
        height: auto;
        margin: 0;
        border-top: 1.5px solid $laranja;
        border-bottom: 1.5px solid $laranja;
        padding: 50px 0;

        +below($tablet) {
            padding: 60px 0;
        }

        +mobile() {
            padding: 50px 0;
        }
    }

    .trabalhe-conosco {
        width: 90%;
        height: auto;
        margin: 90px auto 100px auto;

        +below($tablet) {
            margin: 60px auto;
        }

        +mobile() {
            margin: 50px auto;
        }

        .titulo-trabalhe-conosco {
            width: 100%;
            exo(24, medium);
            color: $laranja;
            text-align: center;
            margin: 0 0 20px 0;

            +below($tablet) {
                font-size: 18px;
            }
        }

        .frase1, .frase2, .frase3 {
            width: 100%;
            raleway(18, medium);
            color: $cinza;
            text-align: center;
            margin: 0;

            +below($tablet) {
                font-size: 14px;
            }

            +mobile() {
                font-size: 12px;
            }
        }

        .frase3 {
            margin: 25px 0 40px 0;

            +below($tablet) {
                margin: 15px 0 30px 0;
            }

            +mobile() {
                margin: 15px 0 20px 0;
            }
        }

        .form-trabalhe-conosco {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            +mobile() {
                flex-direction: column;
            }

            .btn-anexar {
                width: 520px;
                height: 60px;
                margin: 0 20px 0 0;
                border: 1px solid $laranja;
                background-color: #FFF;
                display: flex;
                align-items: center;
                justify-content: center;
                exo(16);
                color: $laranja;
                text-transform: uppercase;
                outline: none;
                cursor: pointer;
                -webkit-user-select: none;
                transition: all 0.5s ease-in-out;

                +below($tablet) {
                    width: 40%;
                    height: 50px;
                    font-size: 14px;
                }

                +mobile() {
                    width: 90%;
                    height: 40px;
                    font-size: 12px;
                    margin: 0 auto 15px auto;
                }

                &:hover {
                    background-color: $laranja;
                    color: #FFF;
                }
            }

            .arquivo-selecionado {
                display: flex;
                align-items: center;
                width: auto;
                height: 60px;
                margin: 0 20px 0 0;
                raleway(16);
                color: $cinza;

                +below($tablet) {
                    height: 50px;
                    font-size: 14px;
                }

                +mobile() {
                    height: 30px;
                    margin: 0 0 15px 0;
                    font-size: 12px;
                }
            }

            .btn-enviar {
                width: 160px;
                height: 60px;
                border: 1px solid $laranja;
                display: flex;
                align-items: center;
                padding: 0 30px;
                exo(18, bold);
                color: $laranja;
                outline: none;
                cursor: pointer;
                background: $img('seta-fina.svg') no-repeat 80%;
                background-color: #FFF;
                transition: all 0.5s ease-in-out;

                +below($tablet) {
                    width: 15%;
                    height: 50px;
                    font-size: 14px;
                    background-size: 18px;
                }

                +mobile() {
                    width: 90%;
                    height: 40px;
                    margin: 0 auto;
                    font-size: 12px;
                    justify-content: center;
                    background-position: 70%;
                }

                &:hover {
                    color: #FFF;
                    background: $img('seta-fina-branco.svg') no-repeat 80%;
                    background-color: $laranja;

                    +below($tablet) {
                        background-size: 18px;
                        background-position: 70%;
                    }
                }
            }
        }

        clearfix();

        .flash {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            width: 40%;
            height: 40px;
            raleway(14, medium);
            padding: 5px 10px;
            border-radius: 0;
            position: relative;
            margin: 10px auto;

            +mobile() {
                font-size: 12px;
            }

            > p {
                margin: 0;
            }

            &.flash-erro {
                border: 2px solid $vermelho;
                background: $vermelho;
                color: #fff;
            }

            &.flash-sucesso {
                border: 2px solid $verde;
                background: $verde;
                color: #fff;
            }

            +below($tablet) {
                montserrat(12, medium);
                height: 40px;
                width: 70%;
            }

            +mobile() {
                width: 100%;
            }
        }

        .envie-curriculo {
            width: 100%;
            exo(16);
            color: $cinza;
            text-align: center;
            margin: 10px 0;

            +below($tablet) {
                font-size: 14px;
            }

            +mobile() {
                font-size: 12px;
            }

            .email {
                margin-left: 5px;
                transition: 0.5s ease-in-out;

                .icone-email {
                    width: 20px;
                    margin-right: 5px;
                    margin-bottom: -1px;
                    transition: transform 0.5s;
                }

                &:hover {
                    color: $laranja;

                    .icone-email {
                        transform: rotate(360deg) scale(1.2);
                    }
                }
            }
        }
    }
}
