section.empresa {
    width: 100%;
    height: auto;
    margin-top: 110px;
    background-color: #fff;

    .capa-empresa {
        width: 100%;
        height: 490px;
        top: 0;
        background-position: center;
        background-size: cover;

        +below($tablet) {
            height: 400px;
        }

        +mobile() {
            height: 300px;
        }
    }

    .historia {
        width: 800px;
        margin: 105px auto 140px auto;

        +below($tablet) {
            width: 70%;
            margin: 80px auto 100px auto;
        }

        +mobile() {
            width: 80%;
            margin: 60px auto;
        }

        h2.titulo {
            width: 100%;
            exo(24, bold);
            color: $azul;
            text-align: center;
            margin: 0 0 45px 0;

            +below($tablet) {
                font-size: 22px;
                margin: 0 0 30px 0;
            }

            +mobile() {
                font-size: 20px;
            }
        }

        div.texto {
            width: 100%;
            raleway(18, medium);
            color: $cinza;
            text-align: center;

            +below($tablet) {
                font-size: 16px;
            }

            +mobile() {
                font-size: 14px;
            }

            > p {
                margin: 0 0 20px 0;
                line-height: 1.8;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }
            }
        }
    }

    .informacoes {
        width: 100%;
        height: auto;

        .info-right, .info-left {
            width: 100%;
            height: 440px;
            display: flex;
            flex-direction: row;
            position: relative;
            margin: 0 auto;

            @media (max-width: 1400px) and (min-width: 1260px) {
                height: 400px;
            }

            +below($tablet) {
                height: 300px;
            }

            +mobile() {
                height: 400px;
                flex-direction: column;
            }

            .img-info {
                width: 50%;
                height: 100%;
                object-fit: cover;

                +mobile() {
                    width: 100%;
                    height: 50%;
                }
            }

            .textos-info {
                width: 50%;
                height: 100%;
                background-color: #F2F3F7;
                padding: 0 20% 0 100px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                @media (max-width: 1400px) and (min-width: 1260px) {
                    padding: 0 10% 0 100px;
                }

                +below($tablet) {
                    padding: 0 60px;
                }

                +mobile() {
                    width: 100%;
                    height: 50%;
                    padding: 40px;
                    align-items: center;
                }

                .titulo {
                    exo(24, bold);
                    color: $laranja;
                    text-transform: uppercase;
                    text-align: start;
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        font-size: 20px;
                        margin: 0 0 15px 0;
                    }

                    +mobile() {
                        font-size: 18px;
                        text-align: center;
                        margin: 0 0 10px 0;
                        padding: 0;
                    }
                }

                .texto {
                    raleway(18, medium);
                    color: $cinza;
                    text-align: start;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                        text-align: center;
                    }

                    > p {
                        margin: 0 0 20px 0;
                        line-height: 1.6;

                        +below($tablet) {
                            margin: 0 0 15px 0;
                        }
                    }
                }
            }
        }

        .info-left {
            +mobile() {
                flex-direction: column-reverse;
            }

            .textos-info {
                padding: 0 100px 0 20%;
                align-items: flex-end;

                @media (max-width: 1400px) and (min-width: 1260px) {
                    padding: 0 100px 0 10%;
                }

                +below($tablet) {
                    padding: 0 60px;
                }

                +mobile() {
                    padding: 40px;
                    align-items: center;
                }

                .titulo {
                    text-align: end;
                    padding-left: 50px;

                    +mobile() {
                        text-align: center;
                    }
                }

                .texto {
                    text-align: end;

                    +mobile() {
                        text-align: center;
                    }
                }
            }
        }
    }

    .estrutura {
        width: 65%;
        margin: 0 auto;
        padding: 105px 0 60px 0;
        display: flex;
        align-items: flex-start;

        @media (max-width: 1400px) and (min-width: 1260px) {
            width: 80%;
        }

        +below($tablet) {
            width: 80%;
            padding: 80px 0 60px 0;
        }

        +mobile() {
            padding: 60px 0;
            flex-direction: column;
            align-items: center;
        }

        .dados-estrutura {
            width: 57%;
            padding: 60px;

            +below($tablet) {
                width: 55%;
                padding: 40px 20px 40px 0;
            }

            +mobile() {
                width: 100%;
                padding: 0 0 40px 0;
            }

            .titulo {
                width: 100%;
                exo(36, medium);
                font-style: italic;
                color: $laranja;
                text-align: center;
                margin: 0;

                +below($tablet) {
                    font-size: 28px;
                }

                +mobile() {
                    font-size: 24px;
                }
            }

            .frase {
                width: 100%;
                raleway(18, medium);
                color: $cinza;
                text-align: center;
                margin: 10px 0;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                }
            }

            .onde-estamos {
                width: 100%;
                raleway(18, medium);
                color: $cinza;
                text-align: center;
                margin: 40px 0 20px 0;

                +below($tablet) {
                    font-size: 16px;
                    margin: 30px 0 20px 0;
                }

                +mobile() {
                    font-size: 14px;
                    margin: 20px 0;
                }
            }

            .localizacoes {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                +mobile() {
                    flex-direction: column;
                    align-items: center;
                }

                .centro-dist, .cta-laboratorios, .escritorios {
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    +mobile() {
                        margin-bottom: 20px;
                    }

                    .img-centro, .img-cta, .img-escritorio {
                        margin-bottom: 15px;
                    }

                    .nome {
                        raleway(18, bold);
                        color: $cinza;
                        text-align: center;
                        margin: 0 0 5px 0;

                        @media (max-width: 1600px) and (min-width: 1260px) {
                            font-size: 16px;
                        }

                        +below($tablet) {
                            font-size: 14px;
                        }
                    }

                    .centro, .laboratorio, .escritorio {
                        raleway(18, medium);
                        color: $cinza;
                        text-align: center;
                        margin: 0;

                        @media (max-width: 1600px) and (min-width: 1260px) {
                            font-size: 16px;
                        }

                        +below($tablet) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .mapa {
            width: 43%;

            +below($tablet) {
                width: 45%;
            }

            +mobile() {
                width: 80%;
            }

            .img-mapa {
                max-width: 100%;
            }
        }
    }

    .qualidade {
        width: 100%;
        height: 615px;
        margin: 0;
        padding: 0;
        display: flex;

        +below($tablet) {
            height: 450px;
        }

        +mobile() {
            height: 680px;
            flex-direction: column;
        }

        .certificado {
            width: 50%;
            height: 100%;
            background-color: #ECEEF4;
            padding: 100px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            +below($tablet) {
                padding: 60px 0 0 0;
            }

            +mobile() {
                width: 100%;
                height: 38%;
                padding: 30px;
            }

            .titulo-qualidade {
                exo(22, bold);
                color: $laranja;
                margin: 0;

                +below($tablet) {
                    font-size: 20px;
                }

                +mobile() {
                    font-size: 18px;
                }
            }

            .frase-qualidade {
                raleway(18, medium);
                color: $cinza;
                margin: 15px 0 30px 0;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                    margin: 15px 0 20px 0;
                }
            }

            .img-selo {
                max-width: 350px;
                width: auto;
                height: auto;
                object-fit: contain;

                +below($tablet) {
                    max-width: 65%;
                }

                +mobile() {
                    max-width: 75%;
                }
            }
        }

        .textos-qualidade {
            width: 50%;
            height: 100%;
            background-color: #F2F3F7;
            padding: 100px 0 0 100px;

            +below($tablet) {
                padding: 60px 0 0 60px;
            }

            +mobile() {
                width: 100%;
                height: 62%;
                padding: 30px;
            }

            .titulo-politica {
                exo(22, bold);
                color: $laranja;
                margin: 0 0 15px 0;

                +below($tablet) {
                    font-size: 20px;
                    margin: 0 0 10px 0;
                }

                +mobile() {
                    font-size: 18px;
                }
            }

            .texto-politica, .texto-objetivos {
                raleway(18, medium);
                color: $cinza;
                margin: 0;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                }

                > p {
                    line-height: 1.8;
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }
                }

                > ul {
                    list-style: disc;
                    list-style-position: inside;
                    margin: 0 0 20px 0;
                    padding-left: 0;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }

                    li {
                        line-height: 1.8;
                        margin: 0;

                        &::marker {
                            font-size: 14px;
                            margin-right: 5px;
                        }
                    }
                }
            }

            .titulo-objetivos {
                exo(22, bold);
                color: $laranja;
                margin: 70px 0 15px 0;

                +below($tablet) {
                    font-size: 20px;
                    margin: 50px 0 10px 0;
                }

                +mobile() {
                    font-size: 18px;
                    margin: 30px 0 10px 0;
                }
            }
        }
    }

    .servicos {
        width: 100%;
        height: 420px;
        margin: 100px 0 110px 0;
        position: relative;

        +below($tablet) {
            height: 300px;
            margin: 80px 0;
        }

        +mobile() {
            margin: 60px 0;
        }

        .img-bg-servico {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
        }

        .textos-servicos {
            width: 720px;
            height: 100%;
            position: absolute;
            top: 0;
            left: calc('(100% - 720px ) / 2');
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                width: 60%;
                left: 20%;
            }

            +mobile() {
                width: 80%;
                left: 10%;
            }

            .titulo-servicos {
                width: 100%;
                padding: 0 50px;
                exo(36, medium);
                color: $azul;
                text-align: center;
                line-height: 1.2;
                margin: 25px 0 0 0;

                +below($tablet) {
                    font-size: 28px;
                    padding: 0 70px;
                    margin: 15px 0 0 0;
                }

                +mobile() {
                    font-size: 20px;
                    padding: 0;
                    margin: 0;
                }
            }

            .frase-servicos {
                width: 100%;
                raleway(18, medium);
                color: $azul;
                text-align: center;
                margin: 20px 0 35px 0;
                line-height: 1.5;

                +below($tablet) {
                    font-size: 14px;
                    margin: 15px 0 25px 0;
                }

                +mobile() {
                    font-size: 12px;
                }
            }

            .link-servicos {
                width: 380px;
                height: 50px;
                exo(16);
                color: $azul;
                border: 1px solid $azul;
                padding: 0 25px;
                background: $img('seta-fina-azul.svg') no-repeat 93%;
                background-color: rgba(221, 237, 244, 0.8);
                background-size: 16px;
                display: flex;
                align-items: center;
                transition: all 0.5s ease-in-out;

                &:hover {
                    background: $img('seta-fina-branco.svg') no-repeat 93%;
                    background-size: 16px;
                    background-color: $azul;
                    color: #FFF;
                }

                +below($tablet) {
                    width: 50%;
                    height: 40px;
                    font-size: 13px;
                    padding: 0 20px;
                }

                +mobile() {
                    width: 90%;
                    font-size: 12px;
                    padding: 0 10px;
                    background: $img('seta-fina-azul.svg') no-repeat 95%;
                    background-color: rgba(221, 237, 244, 0.8);
                    background-size: 14px;

                    &:hover {
                        background: $img('seta-fina-branco.svg') no-repeat 95%;
                        background-size: 14px;
                        background-color: $azul;
                    }
                }
            }
        }
    }
}