section.home {
    width: 100%;
    height: auto;
    margin-top: 0;
    background-color: #fff;

    .banners {
        width: 100%;
        height: calc('490px + 110px');
        position: relative;

        +below($tablet) {
            height: calc('400px + 110px');
        }

        +mobile() {
            height: calc('300px + 110px');
        }

        .banner {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
            background-attachment: fixed;

            .img-banner {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .overlay-textos {
                width: 90%;
                margin: 0 auto;
                position: relative;
                z-index: 101;
                bottom: 61%;
                padding-right: 100px;

                @media (min-width: 1600px) {
                    padding-right: 200px;
                }

                +below($tablet) {
                    bottom: 60%;
                    padding-right: 50px;
                }

                +mobile() {
                    bottom: 55%;
                    padding-right: 20px;
                }

                .titulo {
                    exo(70, medium);
                    color: $azul;
                    text-transform: uppercase;
                    width: 55%;
                    margin: 0 0 0 auto;
                    text-align: end;
                    line-height: 1;

                    @media (max-width: 1400px) and (min-width: 1260px) {
                        font-size: 60px;
                    }

                    @media (min-width: 1600px) {
                        font-size: 80px;
                    }

                    +below($tablet) {
                        font-size: 46px;
                    }

                    +mobile() {
                        width: 80%;
                        font-size: 26px;
                    }
                }

                .frase {
                    exo(22, bold);
                    color: $azul;
                    font-style: italic;
                    width: 55%;
                    margin: 20px 0 0 auto;
                    text-align: end;
                    line-height: 1;

                    @media (max-width: 1400px) and (min-width: 1260px) {
                        font-size: 20px;
                    }

                    +below($tablet) {
                        font-size: 18px;
                        margin: 15px 0 0 auto;
                    }

                    +mobile() {
                        width: 80%;
                        font-size: 14px;
                        margin: 10px 0 0 auto;
                    }
                }
            }
        }

        img.cycle-pager {
            width: auto;
            height: auto;
            position: absolute;
            right: calc('5% + 100px + 15px');
            bottom: 50px;
            z-index: 500;
            cursor: pointer;
            -webkit-filter: drop-shadow(-2px 1px 2px $cinza);
            filter: drop-shadow(-2px 1px 2px $cinza);
            transition: transform 0.3s;

            @media (min-width: 1600px) {
                right: calc('5% + 200px + 15px');
            }

            +below($tablet) {
                right: 10%;
                bottom: 30px;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .produtos {
        width: 83%;
        height: auto;
        margin: 50px auto 100px auto;

        +below($tablet) {
            width: 90%;
            margin: 50px auto 80px auto;
        }

        +mobile() {
            margin: 40px auto 60px auto;
        }

        .frase-segmentos {
            width: 100%;
            exo(24, medium);
            color: $cinza;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            line-height: 1;

            +below($tablet) {
                font-size: 20px;
            }

            +mobile() {
                font-size: 16px;
            }
        }

        .linhas {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding: 60px 0;

            +below($tablet) {
                padding: 50px 0;
            }

            +mobile() {
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 40px 0;
            }

            .link-linha {
                width: 200px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media (max-width: 1400px) and (min-width: 1260px) {
                    width: calc('(100% - (30px * 4)) / 4');
                }

                +below($tablet) {
                    width: 130px;
                }

                +mobile() {
                    margin-bottom: 20px;
                }

                .img-linha {
                    width: 155px;
                    height: 155px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 2px solid transparent;
                    transition: all 0.3s ease-in-out;

                    @media (max-width: 1400px) and (min-width: 1260px) {
                        width: 150px;
                        height: 150px;
                    }

                    +below($tablet) {
                        width: 100px;
                        height: 100px;
                    }
                }

                .titulo-linha {
                    exo(20, bold);
                    color: $cinza;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 15px 0 0 0;
                    transition: 0.3s ease-in-out;

                    +below($tablet) {
                        font-size: 14px;
                    }
                }

                &:hover {
                    .img-linha {
                        border: 2px solid $laranja;
                        transform: scale(1.1);
                    }

                    .titulo-linha {
                        color: $laranja;
                    }
                }
            }
        }

        .frase-filtro {
            width: 100%;
            margin: 30px 0 20px 0;
            exo(24, medium);
            color: $cinza;
            text-align: center;
            text-transform: uppercase;

            +below($tablet) {
                margin: 20px 0;
                font-size: 20px;
            }

            +mobile() {
                margin: 10px 0 20px 0;
                font-size: 16px;
            }
        }

        .filtro {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            +mobile() {
                flex-direction: column;
            }

            select.categorias-filtro, select.aplicacoes-filtro {
                width: 340px;
                height: 50px;
                border-radius: 5px;
                border: 1px solid #CCCCCC;
                margin: 0 20px 0 0;
                padding: 0 20px;
                display: flex;
                align-items: center;
                exo(18);
                color: $cinza;
                outline: none;
                appearance: none;
                background: $img('seta-triangulo.svg') no-repeat 97% #FFF;
                background-size: 12px;
                transition: 0.3s ease-in-out;

                +below($tablet) {
                    width: 30%;
                    height: 40px;
                    margin: 0 15px 0 0;
                    padding: 0 15px;
                    font-size: 14px;
                    background-size: 10px;
                }

                +mobile() {
                    width: 80%;
                    margin: 0 0 10px 0;
                }

                option {
                    exo(18);
                    color: $cinza;

                    +below($tablet) {
                        font-size: 14px;
                    }
                }

                &:hover {
                    color: $laranja;
                    border: 1px solid $laranja;
                }
            }

            .btn-filtro-buscar {
                width: 160px;
                height: 50px;
                border-radius: 5px;
                border: 1px solid $laranja;
                background-color: #FFF;
                display: flex;
                align-items: center;
                justify-content: center;
                exo(18, bold);
                color: $laranja;
                outline: none;
                transition: all 0.5s ease-in-out;

                +below($tablet) {
                    width: 12%;
                    height: 40px;
                    font-size: 14px;
                }

                +mobile() {
                    width: 40%;
                }

                &:hover {
                    background-color: $laranja;
                    color: #FFF;
                }
            }
        }

        .fale-consultores {
            width: 62%;
            margin: 40px auto 0 auto;
            position: relative;

            +below($tablet) {
                width: 80%;
                margin: 30px auto 0 auto;
            }

            +mobile() {
                width: 100%;
            }

            .linha-btn {
                position: absolute;
                width: 100%;
                border-top: 1px solid $laranja;
                margin: 0;
                top: 50%;
                z-index: 1;
            }

            .link-fale-consultores {
                width: 570px;
                height: 60px;
                margin: 0 auto;
                padding: 0 20px;
                z-index: 9;
                position: relative;
                border-radius: 5px;
                border: 1px solid $laranja;
                display: flex;
                align-items: center;
                justify-content: center;
                exo(16);
                color: $laranja;
                outline: none;
                background: $img('icone-home-faleconsultores.svg') no-repeat 5%, $img('seta-fina.svg') no-repeat 95%;
                background-color: #FFF;
                transition: all 0.5s ease-in-out;

                &:hover {
                    background: $img('icone-home-faleconsultores-cinza.svg') no-repeat 5%, $img('seta-fina-cinza.svg') no-repeat 95%;
                    background-color: #FFF;
                    border: 1px solid $cinza;
                    color: $cinza;
                }

                +below($tablet) {
                    width: 70%;
                    height: 50px;
                    padding: 0 15px;
                    font-size: 14px;
                    background: $img('icone-home-faleconsultores.svg') no-repeat 5% / 24px, $img('seta-fina.svg') no-repeat 95% / 18px;
                    background-color: #FFF;
                    transition: all 0.5s ease-in-out;

                    +mobile() {
                        width: 80%;
                        padding: 0 15%;
                        font-size: 12px;
                    }

                    &:hover {
                        background: $img('icone-home-faleconsultores-cinza.svg') no-repeat 5% / 24px, $img('seta-fina-cinza.svg') no-repeat 95% / 18px;
                        background-color: #FFF;
                        border: 1px solid $cinza;
                        color: $cinza;
                    }
                }
            }
        }
    }

    .servicos {
        width: 100%;
        height: auto;
        padding: 95px 0 120px 0;
        background-color: #F2F3F7;

        +below($tablet) {
            padding: 75px 0 90px 0;
        }

        +mobile() {
            padding: 40px 0 60px 0;
        }

        .titulo-servicos {
            width: 90%;
            exo(32, medium);
            color: $azul;
            text-align: center;
            margin: 0 auto;

            +below($tablet) {
                font-size: 26px;
            }

            +mobile() {
                font-size: 20px;
                line-height: 1.2;
            }
        }

        .frase-servicos {
            width: 90%;
            raleway(18, medium);
            color: $cinza;
            text-align: center;
            margin: 25px auto 40px auto;

            +below($tablet) {
                font-size: 14px;
                margin: 15px auto 30px auto;
            }

            +mobile() {
                font-size: 12px;
            }
        }

        .itens-servicos {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            +mobile() {
                flex-direction: column;
            }

            .link-servico {
                margin: 0 35px;
                position: relative;

                +below($tablet) {
                    margin: 0 20px;
                }

                +mobile() {
                    margin: 10px 0 15px 15px;
                }

                div.icone {
                    width: 90px;
                    height: 90px;
                    padding: 15px;
                    background-color: #FFF;
                    border: 1px solid $laranja;
                    border-radius: 50%;
                    position: absolute;
                    top: 20px;
                    left: -45px;

                    +below($tablet) {
                        width: 60px;
                        height: 60px;
                        padding: 10px;
                        top: 15px;
                        left: -30px;
                    }
                }

                .textos-servico {
                    width: 340px;
                    height: 170px;
                    background-color: #FFF;
                    border: none;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 35px 30px 0 65px;
                    transition: box-shadow 0.5s ease-in-out;

                    +below($tablet) {
                        width: 250px;
                        height: 130px;
                        padding: 20px 20px 0 45px;
                    }

                    .titulo {
                        exo(20, medium);
                        color: $laranja;
                        text-transform: uppercase;
                        margin: 0 0 10px 0;
                        line-height: 1.2;
                        transition: 0.5s ease-in-out;

                        +below($tablet) {
                            font-size: 16px;
                        }
                    }

                    .subtitulo {
                        raleway(16, medium);
                        color: $cinza;
                        margin: 0;
                        line-height: 1.5;

                        +below($tablet) {
                            font-size: 12px;
                        }
                    }
                }

                .img-setinha {
                    position: relative;
                    top: 15px;
                    right: 0;
                    float: right;
                    transition: transform 0.5s;

                    +below($tablet) {
                        width: 16px;
                        top: 10px;
                    }
                }

                &:hover {
                    .textos-servico {
                        box-shadow: 0px 10px 0px 1px $laranja;

                        .titulo {
                            color: $azul;
                        }
                    }

                    .img-setinha {
                        transform: rotate(360deg);
                    }
                }
            }

            .inicie-seu-negocio {
                div.icone {
                    background: $img('icone-inicieseunegocio.svg') no-repeat center / 65% #FFF;
                    transition: background 0.5s ease-in-out;
                }

                &:hover {
                    div.icone {
                        background: $img('icone-inicieseunegocio-branco.svg') no-repeat center / 65% $laranja;
                    }
                }
            }

            .cta {
                div.icone {
                    background: $img('icone-cta.svg') no-repeat center / 65% #FFF;
                    transition: background 0.5s ease-in-out;
                }

                &:hover {
                    div.icone {
                        background: $img('icone-cta-branco.svg') no-repeat center / 65% $laranja;
                    }
                }
            }

            .treinamentos-e-palestras {
                div.icone {
                    background: $img('icone-treinamentospalestras.svg') no-repeat center / 65% #FFF;
                    transition: background 0.5s ease-in-out;
                }

                &:hover {
                    div.icone {
                        background: $img('icone-treinamentospalestras-branco.svg') no-repeat center / 65% $laranja;
                    }
                }
            }
        }
    }

    .novidades {
        width: 90%;
        margin: 0 auto;
        padding: 95px 0 75px 0;

        +below($tablet) {
            padding: 60px 0;
        }

        +mobile() {
            padding: 40px 0;
        }

        h2.titulo-novidades {
            width: 100%;
            exo(32, medium);
            color: $laranja;
            text-align: center;
            margin: 0;

            +below($tablet) {
                font-size: 26px;
            }

            +mobile() {
                font-size: 22px;
            }
        }

        .frase-novidades {
            width: 100%;
            exo(18);
            color: $cinza;
            text-align: center;
            margin: 15px 0 0 0;
            line-height: 1.2;

            +below($tablet) {
                font-size: 14px;
                margin: 10px 0 0 0;
            }

            +mobile() {
                font-size: 12px;
            }
        }

        .noticias {
            width: 100%;
            padding: 60px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                padding: 40px 0;
            }

            +mobile() {
                flex-direction: column;
            }

            .link-noticia {
                width: 340px;
                height: 360px;
                margin: 0 35px;
                box-shadow: 0 0 10px 5px #D8D8D8;
                transition: 0.5s ease-in-out;

                @media (max-width: 1400px) and (min-width: 1260px) {
                    width: calc('(100% - (50px * 4)) / 4');
                    height: 420px;
                    margin: 0 25px;
                }

                +below($tablet) {
                    width: 22%;
                    height: 300px;
                    margin: 0 15px;
                }

                +mobile() {
                    width: 90%;
                    margin: 10px 0;
                }

                .capa-noticia {
                    width: 100%;
                    height: 200px;

                    +below($tablet) {
                        height: 150px;
                    }

                    +mobile() {
                        height: 170px;
                    }

                    .img-capa {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .textos-noticia {
                    width: 100%;
                    height: 160px;
                    padding: 20px 30px;

                    +below($tablet) {
                        height: 150px;
                        padding: 10px 15px;
                    }

                    +mobile() {
                        height: 130px;
                        padding: 15px;
                    }

                    .titulo-noticia {
                        exo(20);
                        color: $azul;
                        margin: 0;
                        line-height: 1.2;
                        transition: 0.5s ease-in-out;

                        +below($tablet) {
                            font-size: 16px;
                        }
                    }

                    .frase-noticia {
                        raleway(14);
                        color: $cinza;
                        margin: 15px 0 0 0;

                        +below($tablet) {
                            font-size: 12px;
                            margin: 10px 0 0 0;
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 0 10px 5px #FFD6B2;

                    .textos-noticia {
                        .titulo-noticia {
                            color: $laranja;
                        }
                    }
                }
            }
        }

        .link-todas-noticias {
            width: 340px;
            height: 40px;
            margin: 0 auto;
            border: 1px solid $cinza;
            display: flex;
            align-items: center;
            justify-content: center;
            exo(16);
            color: $cinza;
            font-style: italic;
            background: $img('seta-fina-cinza.svg') no-repeat 80%;
            background-color: #FFF;
            background-size: 15px;
            transition: all 0.5s ease-in-out;

            &:hover {
                border: 1px solid $laranja;
                background: $img('seta-fina-branco.svg') no-repeat 80%;
                background-size: 15px;
                background-color: $laranja;
                color: #FFF;
            }

            +below($tablet) {
                width: 25%;
                height: 35px;
                font-size: 14px;
                background: $img('seta-fina-cinza.svg') no-repeat 80%;
                background-color: #FFF;
                background-size: 13px;

                &:hover {
                    background: $img('seta-fina-branco.svg') no-repeat 80%;
                    background-size: 13px;
                    background-color: $laranja;
                }
            }

            +mobile() {
                width: 60%;
                font-size: 12px;
                background: $img('seta-fina-cinza.svg') no-repeat 90%;
                background-color: #FFF;
                background-size: 12px;

                &:hover {
                    background: $img('seta-fina-branco.svg') no-repeat 90%;
                    background-size: 12px;
                    background-color: $laranja;
                }
            }
        }
    }
}