section.noticias {
    width: 100%;
    height: auto;
    margin-top: 110px;
    background-color: #fff;
    position: relative;

    .link-destaque {
        width: 100%;
        height: 490px;
        display: flex;
        transition: 0.5s ease-in-out;

        +below($tablet) {
            height: 400px;
        }

        +mobile() {
            flex-direction: column;
        }

        .capa-destaque {
            width: 50%;
            height: 100%;

            +mobile() {
                width: 100%;
                height: 50%;
            }

            .img-capa {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .dados-destaque {
            width: 50%;
            height: 100%;
            background-color: #F2F3F7;
            padding: 0 15% 0 100px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            +below($tablet) {
                padding: 0 10% 0 60px;
            }

            +mobile() {
                width: 100%;
                height: 50%;
                padding: 0 10%;
            }

            .titulo-pagina {
                exo(36, medium);
                color: $laranja;
                margin: 0 0 70px 0;

                +below($tablet) {
                    font-size: 28px;
                    margin: 0 0 40px 0;
                }

                +mobile() {
                    font-size: 22px;
                    margin: 0 0 20px 0;
                }
            }

            .titulo-destaque {
                exo(28, bold);
                color: $azul;
                text-transform: uppercase;
                margin: 0;
                transition: 0.5s ease-in-out;

                +below($tablet) {
                    font-size: 22px;
                }

                +mobile() {
                    font-size: 18px;
                }
            }

            .frase-destaque {
                raleway(18, medium);
                color: $cinza;
                margin: 20px 0 0 0;
                line-height: 1.8;
                transition: 0.5s ease-in-out;

                +below($tablet) {
                    font-size: 14px;
                    margin: 15px 0 0 0;
                }

                +mobile() {
                    font-size: 12px;
                    margin: 10px 0 0 0;
                }
            }
        }

        &:hover {
            box-shadow: 0 0 10px 5px #FFD6B2;

            .dados-destaque {
                .titulo-destaque {
                    color: $laranja;
                }

                .frase-destaque {
                    color: $azul;
                }
            }
        }
    }

    .demais-noticias {
        width: 90%;
        margin: 100px auto 50px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        +below($tablet) {
            margin: 80px auto 0 auto;
        }

        +mobile() {
            margin: 50px auto 0 auto;
        }

        .link-noticia {
            width: 340px;
            height: 360px;
            margin: 0 35px 70px 35px;
            box-shadow: 0 0 10px 5px #D8D8D8;
            transition: 0.5s ease-in-out;

            @media (max-width: 1400px) and (min-width: 1260px) {
                width: calc('(100% - (50px * 4)) / 4');
                height: 420px;
                margin: 0 25px;
            }

            +below($tablet) {
                width: calc('(100% - (30px * 4)) / 4');
                height: 300px;
                margin: 0 15px 30px 15px;
            }

            +mobile() {
                width: 90%;
                margin: 15px auto;
            }

            .capa-noticia {
                width: 100%;
                height: 200px;

                +below($tablet) {
                    height: 150px;
                }

                +mobile() {
                    height: 170px;
                }

                .img-capa {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .textos-noticia {
                width: 100%;
                height: 160px;
                padding: 20px 30px;

                +below($tablet) {
                    height: 150px;
                    padding: 10px 15px;
                }

                +mobile() {
                    height: 130px;
                    padding: 15px;
                }

                .titulo-noticia {
                    exo(20);
                    color: $azul;
                    margin: 0;
                    line-height: 1.2;
                    transition: 0.5s ease-in-out;

                    +below($tablet) {
                        font-size: 16px;
                    }
                }

                .frase-noticia {
                    raleway(14);
                    color: $cinza;
                    margin: 15px 0 0 0;

                    +below($tablet) {
                        font-size: 12px;
                        margin: 10px 0 0 0;
                    }
                }
            }

            &:hover {
                box-shadow: 0 0 10px 5px #FFD6B2;

                .textos-noticia {
                    .titulo-noticia {
                        color: $laranja;
                    }
                }
            }
        }
    }

    .btn-mais-noticias {
        width: 340px;
        height: 40px;
        margin: 0 auto 120px auto;
        border: 1px solid $cinza;
        display: flex;
        align-items: center;
        justify-content: center;
        exo(16);
        color: $cinza;
        font-style: italic;
        transition: all 0.5s ease-in-out;

        +below($tablet) {
            width: 25%;
            height: 35px;
            font-size: 14px;
            margin: 20px auto 80px auto;
        }

        +mobile() {
            width: 60%;
            font-size: 12px;
            margin: 20px auto 50px auto;
        }

        &:hover {
            border: 1px solid $laranja;
            background-color: $laranja;
            color: #FFF;
        }
    }
}