section.noticias-show {
    width: 100%;
    height: auto;
    margin-top: 110px;
    background-color: #fff;
    position: relative;
    display: flex;

    +mobile() {
        flex-direction: column-reverse;
        align-items: center;
    }

    .capa-e-noticias {
        width: 50%;
        height: auto;

        +mobile() {
            width: 100%;
        }

        .img-capa {
            width: 100%;
            height: auto;
            object-fit: cover;

            +mobile() {
                height: 200px;
                position: absolute;
                top: 0;
            }
        }

        .linha-noticias {
            width: 100%;
            margin: 110px 0 40px 0;
            border: 1px solid $laranja;

            +below($tablet) {
                margin: 70px 0 30px 0;
            }

            +mobile() {
                margin: 50px 0 30px 0;
            }
        }

        .noticias {
            width: 90%;
            margin: 0 0 0 auto;

            +mobile() {
                margin: 0 auto;
            }

            .mais-noticias {
                width: 100%;
                exo(28, medium);
                color: $laranja;
                margin: 0 0 30px 0;

                +below($tablet) {
                    font-size: 22px;
                    margin: 0 0 20px 0;
                }

                +mobile() {
                    font-size: 18px;
                }
            }

            div.links-noticias {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;

                .link-noticia {
                    width: calc('(100% - 60px) / 3');
                    height: 280px;
                    margin: 0 20px 20px 0;
                    box-shadow: 0 0 10px 5px #D8D8D8;
                    transition: 0.5s ease-in-out;

                    +below($tablet) {
                        width: calc('(100% - 45px) / 3');
                        height: 200px;
                        margin: 0 15px 15px 0;
                    }

                    +mobile() {
                        width: 90%;
                        height: 250px;
                        margin: 0 auto 30px auto;
                    }

                    .capa-noticia {
                        width: 100%;
                        height: 140px;

                        +below($tablet) {
                            height: 100px;
                        }

                        +mobile() {
                            height: 150px;
                        }

                        .img-noticia {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .textos-noticia {
                        width: 100%;
                        height: 110px;
                        padding: 20px;

                        +below($tablet) {
                            height: 80px;
                            padding: 15px 10px;
                        }

                        +mobile() {
                            height: 100px;
                            padding: 20px 15px;
                        }

                        .titulo {
                            exo(18);
                            color: $azul;
                            margin: 0;
                            line-height: 1.2;
                            transition: 0.5s ease-in-out;

                            +below($tablet) {
                                font-size: 14px;
                            }
                        }
                    }

                    &:hover {
                        box-shadow: 0 0 10px 5px #FFD6B2;

                        .textos-noticia {
                            .titulo {
                                color: $laranja;
                            }
                        }
                    }
                }
            }

            .btn-voltar-noticias {
                width: 340px;
                height: 40px;
                margin: 30px auto 60px 0;
                border: 1px solid $cinza;
                display: flex;
                align-items: center;
                justify-content: center;
                exo(16);
                color: $cinza;
                font-style: italic;
                transition: all 0.5s ease-in-out;

                +below($tablet) {
                    width: 50%;
                    height: 35px;
                    font-size: 14px;
                    margin: 20px auto 50px 0;
                }

                +mobile() {
                    width: 70%;
                    font-size: 12px;
                    margin: 20px auto 50px auto;
                }

                &:hover {
                    border: 1px solid $laranja;
                    background-color: $laranja;
                    color: #FFF;
                }
            }
        }
    }

    .dados-noticia {
        width: 50%;
        height: auto;

        +mobile() {
            width: 100%;
            margin-top: 200px;
        }

        .bg-titulo {
            width: 100%;
            height: 400px;
            background-color: #F2F3F7;
            padding: 0 15% 0 100px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            @media (max-width: 1400px) and (min-width: 1260px) {
                height: 300px;
                padding: 0 15% 0 60px;
            }

            +below($tablet) {
                height: 250px;
                padding: 0 15% 0 60px;
            }

            +mobile() {
                height: 200px;
                padding: 0 10%;
            }

            .titulo-pagina {
                exo(36, medium);
                color: $laranja;
                margin: 45px 0;

                @media (max-width: 1400px) and (min-width: 1260px) {
                    font-size: 32px;
                    margin: 40px 0;
                }

                +below($tablet) {
                    font-size: 28px;
                    margin: 30px 0;
                }

                +mobile() {
                    font-size: 22px;
                    margin: 20px 0;
                }
            }

            .titulo-noticia {
                exo(42, medium);
                color: $azul;
                text-transform: uppercase;
                margin: 0;
                transition: 0.5s ease-in-out;

                @media (max-width: 1400px) and (min-width: 1260px) {
                    font-size: 36px;
                }

                +below($tablet) {
                    font-size: 30px;
                }

                +mobile() {
                    font-size: 24px;
                }
            }
        }

        .texto, .texto-ver-mais {
            width: 90%;
            height: auto;
            margin: 0 auto 0 0;
            padding: 50px 0 0 100px;
            raleway(18, medium);
            color: $cinza;

            @media (max-width: 1400px) and (min-width: 1260px) {
                padding: 50px 0 0 60px;
            }

            +below($tablet) {
                padding: 30px 0 0 60px;
                font-size: 14px;
            }

            +mobile() {
                width: 85%;
                margin: 0 auto;
                padding: 30px 0 0 0;
                font-size: 12px;
            }

            > p {
                margin: 0 0 20px 0;
                line-height: 1.8;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }

                > a {
                    font-style: italic;

                    &:hover {
                        color: $laranja;
                    }
                }

                > img {
                    max-width: 100%;
                }
            }

            > ul {
                list-style: disc;
                list-style-position: outside;
                margin: 0 0 20px 20px;
                padding-left: 0;
                line-height: 1.8;

                +below($tablet) {
                    margin: 0 0 15px 15px;
                }

                li {
                    line-height: 1.8;
                    margin: 0;
                }
            }

            > ol {
                list-style-position: outside;
                margin: 0 0 20px 20px;
                padding-left: 0;
                line-height: 1.8;

                +below($tablet) {
                    margin: 0 0 15px 15px;
                }

                li {
                    line-height: 1.8;
                    margin: 0;
                }
            }
        }

        .texto-ver-mais {
            padding: 0 0 0 100px;

            +below($tablet) {
                padding: 0 0 0 60px;
            }

            +mobile() {
                padding: 30px 0 0 0;
            }
        }

        .link-ver-mais {
            width: auto;
            height: 30px;
            border: 1px solid $cinza;
            margin: 0 0 30px 100px;
            display: flex;
            align-items: center;
            padding: 0 30px;
            exo(16);
            color: $cinza;
            font-style: italic;
            outline: none;
            cursor: pointer;
            background-color: #FFF;
            transition: all 0.5s ease-in-out;

            +below($tablet) {
                font-size: 14px;
                margin: 0 0 30px 60px;
            }

            +mobile() {
                font-size: 12px;
                margin: 0 auto 30px auto;
            }

            &:hover {
                color: #FFF;
                background-color: $cinza;
            }
        }

        .link-download {
            width: 300px;
            height: 40px;
            margin: 0 0 30px 100px;
            border: 1px solid $laranja;
            display: flex;
            align-items: center;
            justify-content: center;
            exo(16);
            color: $laranja;
            transition: all 0.5s ease-in-out;

            +below($tablet) {
                width: 50%;
                height: 35px;
                font-size: 14px;
                margin: 0 0 30px 60px;
            }

            +mobile() {
                width: 70%;
                font-size: 12px;
                margin: 0 auto 30px auto;
            }

            &:hover {
                background-color: $laranja;
                color: #FFF;
            }
        }
    }
}