section.politica-de-privacidade {
    width: 100%;
    height: auto;
    margin: 140px 0 60px 0;
    background-color: #fff;
    position: relative;

    h2.titulo {
        width: 90%;
        exo(36, medium);
        color: $laranja;
        margin: 0 auto 30px auto;

        +below($tablet) {
            font-size: 26px;
        }

        +mobile() {
            font-size: 22px;
        }
    }

    .texto {
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 0 10% 0 0;
        raleway(18, medium);
        color: $cinza;

        +below($tablet) {
            padding: 0 5% 0 0;
            font-size: 14px;
        }

        +mobile() {
            font-size: 12px;
        }

        > p {
            margin: 0 0 20px 0;
            line-height: 1.8;

            +below($tablet) {
                margin: 0 0 15px 0;
            }

            > a {
                font-style: italic;

                &:hover {
                    color: $laranja;
                }
            }
        }

        > ul {
            list-style: disc;
            list-style-position: outside;
            margin: 0 0 20px 20px;
            padding-left: 0;
            line-height: 1.8;

            +below($tablet) {
                margin: 0 0 15px 15px;
            }

            li {
                line-height: 1.8;
                margin: 0;
            }
        }

        > ol {
            list-style-position: outside;
            margin: 0 0 20px 20px;
            padding-left: 0;
            line-height: 1.8;

            +below($tablet) {
                margin: 0 0 15px 15px;
            }

            li {
                line-height: 1.8;
                margin: 0;
            }
        }
    }
}