section.produtos-filtro {
    width: 100%;
    height: auto;
    margin-top: 110px;
    background-color: #fff;
    position: relative;

    .capa-filtro {
        width: 100%;
        height: 120px;
        background-position: center;
        background-size: cover;

        +below($tablet) {
            height: 100px;
        }

        +mobile() {
            height: 70px;
        }

        .titulo-capa {
            width: 50%;
            height: 100%;
            exo(28, medium);
            color: $azul;
            margin: 0 0 0 auto;
            display: flex;
            align-items: center;

            +below($tablet) {
                font-size: 22px;
            }

            +mobile() {
                width: 90%;
                font-size: 18px;
            }
        }
    }

    .produtos-categoria {
        width: 90%;
        height: auto;
        margin: 95px auto 50px auto;

        +below($tablet) {
            margin: 60px auto;
        }

        +mobile() {
            margin: 50px auto;
        }

        .categoria {
            width: 100%;
            exo(18, bold);
            color: $laranja;
            text-transform: uppercase;
            margin: 15px 0 35px 0;
            padding: 0;
            border-bottom: 1px solid $laranja;

            +below($tablet) {
                font-size: 16px;
                margin: 10px 0 30px 0;
            }
        }

        .produtos {
            width: 100%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;

            .link-produto {
                width: calc('(100% - (60px * 3)) / 4');
                height: 400px;
                margin: 0 60px 60px 0;
                box-shadow: 0 0 10px 5px #D8D8D8;
                position: relative;

                @media (max-width: 1400px) and (min-width: 1260px) {
                    margin: 0 40px 40px 0;
                    width: calc('(100% - (40px * 3)) / 4');
                }

                +below($tablet) {
                    width: calc('(100% - (40px * 3)) / 4');
                    height: 300px;
                    margin: 0 40px 40px 0;
                }

                +mobile() {
                    width: 100%;
                    margin: 0 0 30px 0;
                }

                .img-produto {
                    width: 100%;
                    height: 50%;
                    object-fit: cover;
                }

                .sobre-produto {
                    width: 100%;
                    height: 50%;
                    padding: 25px 35px;

                    +below($tablet) {
                        padding: 20px;
                    }

                    .titulo {
                        exo(28, bold);
                        color: $azul;
                        text-transform: uppercase;
                        margin: 0;
                        transition: 0.5s ease-in-out;

                        +below($tablet) {
                            font-size: 20px;
                        }
                    }

                    .subtitulo {
                        exo(18);
                        color: $cinza;
                        margin: 10px 0 0 0;

                        +below($tablet) {
                            font-size: 14px;
                        }
                    }
                }

                .linha-hover {
                    visibility: hidden;
                    width: 99.5%;
                    height: 5px;
                    border: 1px solid #FFF;
                    background-color: #FFF;
                    bottom: 0;
                    margin: 0;
                    position: absolute;
                    transition: all 0.5s ease-in-out;
                }

                &:hover {
                    .sobre-produto {
                        .titulo {
                            color: $laranja;
                        }
                    }

                    .linha-hover {
                        visibility: visible;
                        border: 1px solid $laranja;
                        background-color: $laranja;
                    }
                }
            }
        }
    }
}