section.produtos {
    width: 100%;
    height: auto;
    margin-top: 110px;
    background-color: #fff;
    position: relative;

    .capa-produtos {
        width: 100%;
        height: 490px;
        background-position: center;
        background-size: cover;

        +below($tablet) {
            height: 400px;
        }

        +mobile() {
            height: 300px;
        }

        .titulo-capa {
            width: 25%;
            height: 100%;
            float: right;
            exo(48, medium);
            color: $azul;
            line-height: 1.2;
            padding-top: 170px;
            margin: 0 11% 0 0;

            +below($tablet) {
                width: 35%;
                font-size: 38px;
                padding-top: 140px;
                margin: 0 5% 0 0;
            }

            +mobile() {
                width: 65%;
                font-size: 28px;
                padding-top: 110px;
            }
        }
    }

    .frase-produtos {
        width: 90%;
        raleway(18, medium);
        color: $cinza;
        text-align: center;
        margin: 80px auto 25px auto;

        +below($tablet) {
            font-size: 16px;
            margin: 50px auto 20px auto;
        }

        +mobile() {
            margin: 40px auto 20px auto;
        }
    }

    .conheca {
        width: 90%;
        exo(18, bold);
        color: $cinza;
        text-align: center;
        margin: 25px auto 50px auto;

        +below($tablet) {
            font-size: 16px;
            margin: 20px auto 30px auto;
        }
    }

    .linhas-categorias {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 60px 0 80px 0;

        +below($tablet) {
            padding: 20px 0 50px 0;
            flex-wrap: wrap;
        }

        +mobile() {
            padding: 20px 0;
        }

        .linha {
            width: 200px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 35px;

            @media (max-width: 1600px) and (min-width: 1260px) {
                width: calc('(100% - (70px * 6)) / 6');
            }

            .link-linha {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0;

                +below($tablet) {
                    width: 30%;
                    margin: 0 30px 30px 0;
                }

                +mobile() {
                    width: 40%;
                    margin: 0 15px 30px 15px;
                }

                .img-linha {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 2px solid transparent;
                    transition: all 0.3s ease-in-out;

                    @media (max-width: 1400px) and (min-width: 1260px) {
                        width: 130px;
                        height: 130px;
                    }

                    +below($tablet) {
                        width: 180px;
                        height: 180px;
                    }

                    +mobile() {
                        width: 130px;
                        height: 130px;
                    }
                }

                .titulo-linha {
                    exo(20, bold);
                    color: $cinza;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 15px 0;
                    transition: 0.3s ease-in-out;

                    @media (max-width: 1400px) and (min-width: 1260px) {
                        font-size: 16px;
                    }

                    +below($tablet) {
                        font-size: 18px;
                    }

                    +mobile() {
                        font-size: 14px;
                        margin: 10px 0;
                    }
                }

                &:hover {
                    .img-linha {
                        border: 2px solid $laranja;
                        transform: scale(1.1);
                    }

                    .titulo-linha {
                        color: $laranja;
                    }
                }
            }

            .categorias {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                +below($tablet) {
                    width: 80%;
                }

                +mobile() {
                    width: 90%;
                }

                .link-categoria {
                    width: 100%;
                    height: 40px;
                    margin: 2px 0;
                    border: none;
                    outline: none;
                    background-color: #E6E6E6;
                    exo(18);
                    color: $cinza;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease-in-out;

                    @media (max-width: 1400px) and (min-width: 1260px) {
                        font-size: 14px;
                    }

                    +below($tablet) {
                        font-size: 16px;
                    }

                    +mobile() {
                        font-size: 12px;
                        height: 30px;
                    }

                    &:hover {
                        background-color: $laranja;
                        color: #FFF;
                    }
                }
            }
        }
    }
}