section.produtos-show {
    width: 100%;
    height: auto;
    margin-top: 110px;
    background-color: #fff;
    position: relative;

    .capa-pagina {
        width: 100%;
        height: 490px;
        display: flex;

        +below($tablet) {
            height: 400px;
        }

        +mobile() {
            flex-direction: column;
        }

        .capa-infos {
            width: 50%;
            height: 100%;
            background-color: #F2F3F7;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0 5%;

            +mobile() {
                width: 100%;
                height: 50%;
            }

            .linha-categoria {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 30px;

                +below($tablet) {
                    margin-bottom: 20px;
                }

                .textos {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 0;

                    p.produtos {
                        exo(22);
                        color: $azul;
                        line-height: 1.2;
                        margin: 0;

                        +below($tablet) {
                            font-size: 18px;
                        }

                        +mobile() {
                            font-size: 14px;
                        }
                    }

                    .link-categoria {
                        exo(32, medium);
                        color: $azul;
                        text-transform: uppercase;
                        line-height: 1.2;
                        margin: 5px 0 0 0;
                        transition: 0.3s ease-in-out;

                        +below($tablet) {
                            font-size: 22px;
                        }

                        +mobile() {
                            font-size: 18px;
                        }

                        &:hover {
                            color: $laranja;
                        }
                    }

                    .linhas-capa {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 5px 0 0 0;

                        .link-linha {
                            exo(22, medium);
                            color: $azul;
                            text-transform: uppercase;
                            line-height: 1.2;
                            margin: 0;
                            transition: 0.3s ease-in-out;

                            +below($tablet) {
                                font-size: 18px;
                            }

                            +mobile() {
                                font-size: 14px;
                            }

                            &:hover {
                                color: $laranja;
                            }
                        }
                    }
                }
            }

            .produto {
                width: 100%;

                .titulo-produto {
                    exo(48, bold);
                    color: $azul;
                    text-transform: uppercase;
                    margin: 0;

                    +below($tablet) {
                        font-size: 32px;
                    }

                    +mobile() {
                        font-size: 24px;
                    }
                }

                .subtitulo-produto {
                    exo(18);
                    font-style: italic;
                    color: $cinza;
                    margin: 10px 0 0 0;

                    +below($tablet) {
                        font-size: 16px;
                    }

                    +mobile() {
                        font-size: 14px;
                        margin: 0;
                    }
                }
            }
        }

        .capa-produto {
            width: 50%;
            height: 100%;

            +mobile() {
                width: 100%;
                height: 50%;
            }

            .img-produto {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .dados-produto {
        width: 90%;
        height: auto;
        margin: 105px auto 95px auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        +below($tablet) {
            margin: 80px auto;
        }

        +mobile() {
            margin: 60px auto;
            flex-direction: column;
        }

        .col-left {
            width: 50%;
            padding-right: 50px;

            +below($tablet) {
                padding-right: 30px;
            }

            +mobile() {
                width: 100%;
                padding: 0;
            }

            .descricao {
                width: 100%;
                raleway(18, medium);
                color: $cinza;
                margin: 0;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                }

                > p {
                    margin: 0 0 20px 0;
                    line-height: 1.8;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }
                }

                > ul {
                    list-style: disc;
                    list-style-position: outside;
                    margin: 0 0 20px 20px;
                    padding-left: 0;

                    +below($tablet) {
                        margin: 0 0 15px 15px;
                    }

                    li {
                        line-height: 1.5;
                        margin: 0;
                    }
                }

                > ol {
                    list-style-position: outside;
                    margin: 0 0 20px 20px;
                    padding-left: 0;

                    +below($tablet) {
                        margin: 0 0 15px 15px;
                    }

                    li {
                        line-height: 1.5;
                        margin: 0;
                    }
                }
            }

            .titulo-embalagem, .titulo-armazenamento, .titulo-validade {
                exo(24, medium);
                color: $laranja;
                margin: 100px 0 15px 0;

                +below($tablet) {
                    margin: 60px 0 15px 0;
                    font-size: 20px;
                }

                +mobile() {
                    margin: 40px 0 15px 0;
                    font-size: 18px;
                }
            }

            .embalagem, .armazenamento {
                width: 100%;
                raleway(18, medium);
                color: $cinza;
                margin: 0;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                }

                > p {
                    margin: 0 0 20px 0;
                    line-height: 1.8;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }
                }

                > ul {
                    list-style: disc;
                    list-style-position: outside;
                    margin: 0 0 20px 20px;
                    padding-left: 0;

                    +below($tablet) {
                        margin: 0 0 15px 15px;
                    }

                    li {
                        line-height: 1.5;
                        margin: 0;
                    }
                }

                > ol {
                    list-style-position: outside;
                    margin: 0 0 20px 20px;
                    padding-left: 0;

                    +below($tablet) {
                        margin: 0 0 15px 15px;
                    }

                    li {
                        line-height: 1.5;
                        margin: 0;
                    }
                }
            }

            .validade {
                width: 100%;
                raleway(18, medium);
                line-height: 1.8;
                color: $cinza;
                margin: 0;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                }
            }

            .downloads {
                width: 100%;
                margin-top: 80px;

                +below($tablet) {
                    margin-top: 60px;
                }

                +mobile() {
                    margin-top: 40px;
                }

                .titulo-downloads {
                    exo(24, medium);
                    color: $laranja;
                    margin: 0 0 30px 0;

                    +below($tablet) {
                        font-size: 20px;
                        margin: 0 0 20px 0;
                    }

                    +mobile() {
                        font-size: 18px;
                    }
                }

                .link-arquivo {
                    width: 100%;
                    height: 100px;
                    border: 1px solid $cinza;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 0 20px;
                    margin: 10px 0;
                    background: $img('icone-download.svg') no-repeat 96% 50%;
                    background-color: #FFF;
                    background-size: 35px;
                    transition: all 0.5s ease-in-out;

                    .pdf {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        background-color: #F5B379;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 0.3s ease-in-out;

                        +below($tablet) {
                            width: 50px;
                            height: 50px;
                        }

                        +mobile() {
                            width: 40px;
                            height: 40px;
                        }

                        .img-pdf {
                            width: 50%;
                            object-fit: contain;
                            transition: transform 0.3s;
                        }
                    }

                    .titulo-arquivo {
                        exo(24);
                        color: $azul;
                        text-transform: uppercase;
                        margin: 0 0 0 20px;
                        transition: 0.3s ease-in-out;

                        +below($tablet) {
                            font-size: 18px;
                            margin: 0 0 0 15px;
                        }

                        +mobile() {
                            font-size: 14px;
                        }
                    }

                    &:hover {
                        border: 1px solid $laranja;
                        background: $img('icone-download-branco.svg') no-repeat 96% 50%;
                        background-color: $laranja;
                        background-size: 35px;

                        .pdf {
                            background-color: #FFF;

                            .img-pdf {
                                transform: rotate(360deg);
                            }
                        }

                        .titulo-arquivo {
                            color: #FFF;
                        }
                    }

                    +below($tablet) {
                        height: 70px;
                        padding: 0 15px;
                        background: $img('icone-download.svg') no-repeat 95% 50%;
                        background-size: 22px;

                        &:hover {
                            background: $img('icone-download-branco.svg') no-repeat 95% 50%;
                            background-color: $laranja;
                            background-size: 22px;
                        }
                    }

                    +mobile() {
                        height: 60px;
                        background: $img('icone-download.svg') no-repeat 95% 50%;
                        background-size: 18px;

                        &:hover {
                            background: $img('icone-download-branco.svg') no-repeat 95% 50%;
                            background-color: $laranja;
                            background-size: 18px;
                        }
                    }
                }
            }
        }

        .col-right {
            width: 50%;
            padding-left: 50px;

            +below($tablet) {
                padding-left: 30px;
            }

            +mobile() {
                width: 100%;
                padding: 0;
                margin-top: 40px;
            }

            .titulo-aplicacoes {
                exo(24, medium);
                color: $laranja;
                margin: 0;
                padding: 0 0 20px 0;
                border-bottom: 1px solid $laranja;

                +below($tablet) {
                    font-size: 20px;
                    padding: 0 0 15px 0;
                }

                +mobile() {
                    font-size: 18px;
                }
            }

            .aplicacoes {
                width: 100%;

                .aplicacao {
                    width: 100%;
                    height: 60px;
                    border-bottom: 1px solid $laranja;
                    exo(22);
                    color: $cinza;
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0;
                    padding-left: 60px;
                    background: $img('seta-fina.svg') no-repeat 1.5% 50%;
                    background-size: 18px;
                    background-color: transparent;

                    +below($tablet) {
                        height: 40px;
                        padding-left: 40px;
                        font-size: 16px;
                        background: $img('seta-fina.svg') no-repeat 1.5% 50%;
                        background-size: 14px;
                        background-color: transparent;
                    }

                    +mobile() {
                        font-size: 14px;
                    }
                }
            }

            .obs-aplicacoes {
                exo(14);
                font-style: italic;
                color: $cinza;
                margin: 30px 0 0 0;

                +below($tablet) {
                    font-size: 11px;
                }
            }

            .mais-informacoes {
                width: 100%;
                height: auto;
                margin: 140px 0 0 0;
                padding: 35px 55px 35px 40px;
                border: 1px solid $cinza;

                +below($tablet) {
                    margin: 80px 0 0 0;
                    padding: 20px 25px;
                }

                +mobile() {
                    margin: 60px 0 0 0;
                    padding: 20px;
                }

                .titulo {
                    exo(24, medium);
                    color: $laranja;
                    margin: 0;

                    +below($tablet) {
                        font-size: 20px;
                    }

                    +mobile() {
                        font-size: 18px;
                    }
                }

                .solicite {
                    exo(16);
                    color: $cinza;
                    margin: 10px 0 20px 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }

                form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    input[type=text], input[type=email] {
                        width: 100%;
                        height: 40px;
                        outline: 0;
                        border: 0;
                        padding: 0 15px;
                        margin-bottom: 3px;
                        background-color: #F2F3F7;
                        border: none;
                        border-radius: 0;
                        exo(16);
                        color: $cinza;
                        transition: 0.2s ease;

                        +below($tablet) {
                            height: 30px;
                            font-size: 12px;
                        }

                        +placeholder() {
                            exo(16);
                            color: $cinza;
                            transition: 0.2s ease;

                            +below($tablet) {
                                font-size: 12px;
                            }
                        }

                        &:hover, &:focus {
                            font-weight: 600;

                            +placeholder() {
                                font-weight: 600;
                            }
                        }
                    }

                    textarea {
                        width: 100%;
                        height: 120px;
                        background-color: #F2F3F7;
                        outline: 0;
                        border: 0;
                        padding: 15px;
                        resize: none;
                        margin: 0;
                        exo(16);
                        color: $cinza;
                        transition: 0.2s ease;

                        +below($tablet) {
                            height: 90px;
                            font-size: 12px;
                        }

                        +placeholder() {
                            exo(16);
                            color: $cinza;
                            transition: 0.2s ease;

                            +below($tablet) {
                                font-size: 12px;
                            }
                        }

                        &:hover, &:focus {
                            font-weight: 600;

                            +placeholder() {
                                font-weight: 600;
                            }
                        }
                    }

                    .opt-in-comunicados {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin: 10px 0;

                        input[type=checkbox] {
                            position: relative;
                            width: 13px;
                            height: 13px;
                            border: 1px solid #ABABAB;
                            border-radius: 3px;
                            cursor: pointer;
                            appearance: none;
                            outline: none;

                            &:before {
                                position: absolute;
                                content: '';
                                display: block;
                                top: 1px;
                                left: 4px;
                                width: 4px;
                                height: 8px;
                                border-style: solid;
                                border-color: #fff;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                                opacity: 0;
                            }

                            &:checked {
                                color: #fff;
                                border-color: $azul;
                                background: $azul;

                                &:before {
                                    opacity: 1;
                                }
                            }
                        }

                        .texto-opt-in {
                            exo(11);
                            font-style: italic;
                            color: $cinza;
                            margin: 0 0 0 10px;

                            +below($tablet) {
                                font-size: 10px;
                            }
                        }
                    }

                    button[type=submit] {
                        width: 160px;
                        height: 40px;
                        border-radius: 0;
                        border: none;
                        background-color: $laranja;
                        outline: 0;
                        cursor: pointer;
                        margin-top: 10px;
                        exo(16, medium);
                        color: #FFF;
                        transition: all 0.3s ease-in-out;

                        +below($tablet) {
                            width: 140px;
                            height: 30px;
                            font-size: 14px;
                        }

                        .img-setinha {
                            width: 20px;
                            margin-left: 5px;
                            transition: transform 0.3s;

                            +below($tablet) {
                                width: 16px;
                            }
                        }

                        &:hover {
                            background-color: $azul;

                            .img-setinha {
                                transform: rotate(360deg);
                            }
                        }
                    }

                    clearfix();

                    .flash {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 10px 0;
                        width: 100%;
                        height: 30px;
                        exo(14);
                        padding: 5px 10px;
                        border-radius: 0;

                        > p {
                            margin: 0;
                        }

                        &.flash-erro {
                            border: 2px solid $vermelho;
                            background: $vermelho;
                            color: #fff;
                        }

                        &.flash-sucesso {
                            border: 2px solid $verde;
                            background: $verde;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}