section.servico-ao-cliente {
    width: 100%;
    height: auto;
    margin-top: 110px;
    background-color: #fff;
    position: relative;

    .capa-servicos {
        width: 100%;
        height: 490px;
        top: 0;
        background-position: center;
        background-size: cover;
        position: relative;

        +below($tablet) {
            height: 400px;
        }

        +mobile() {
            height: 300px;
        }

        .overlay-gradiente {
            position: absolute;
            height: 170px;
            width: 100%;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
            background-color: transparent;
            z-index: 99;

            +below($tablet) {
                height: 140px;
            }

            +mobile() {
                height: 110px;
            }

            .frase-capa {
                width: 100%;
                raleway(22, bold);
                color: $azul;
                text-align: center;
                margin: 0;

                +below($tablet) {
                    font-size: 18px;
                }

                +mobile() {
                    font-size: 14px;
                    padding: 0 5%;
                }
            }

            .titulo-capa {
                width: 100%;
                exo(48, bold);
                color: $laranja;
                text-align: center;
                text-transform: uppercase;
                margin: 15px 0 0 0;

                +below($tablet) {
                    font-size: 32px;
                }

                +mobile() {
                    font-size: 20px;
                    margin: 10px 0 0 0;
                }
            }
        }
    }

    .infos-servicos {
        width: 900px;
        margin: 105px auto 85px auto;

        +below($tablet) {
            width: 60%;
            margin: 75px auto 50px auto;
        }

        +mobile() {
            width: 75%;
            margin: 50px auto;
        }

        .texto-servicos {
            width: 100%;
            raleway(18, medium);
            color: $cinza;
            text-align: center;

            +below($tablet) {
                font-size: 14px;
            }

            > p {
                margin: 0 0 20px 0;
                line-height: 1.8;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }
            }
        }

        .frase-texto {
            width: 100%;
            exo(24, bold);
            color: $laranja;
            text-align: center;
            margin: 50px 0 0 0;

            +below($tablet) {
                font-size: 18px;
                margin: 30px 0 0 0;
            }

            +mobile() {
                font-size: 16px;
            }
        }
    }

    .servicos {
        width: 100%;
        height: auto;
        background-color: #F2F3F7;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 110px;
        padding: 95px 0;

        +below($tablet) {
            margin-bottom: 60px;
            padding: 75px 0;
        }

        +mobile() {
            flex-direction: column;
            padding: 50px 0;
        }

        .link-servico {
            margin: 0 35px;
            position: relative;

            +below($tablet) {
                margin: 0 20px;
            }

            +mobile() {
                margin: 10px 0 15px 15px;
            }

            div.icone {
                width: 90px;
                height: 90px;
                padding: 15px;
                background-color: #FFF;
                border: 1px solid $laranja;
                border-radius: 50%;
                position: absolute;
                top: 20px;
                left: -45px;

                +below($tablet) {
                    width: 60px;
                    height: 60px;
                    padding: 10px;
                    top: 15px;
                    left: -30px;
                }
            }

            .textos-servico {
                width: 340px;
                height: 170px;
                background-color: #FFF;
                border: none;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 35px 30px 0 65px;
                transition: box-shadow 0.5s ease-in-out;

                +below($tablet) {
                    width: 250px;
                    height: 130px;
                    padding: 20px 20px 0 45px;
                }

                .titulo {
                    exo(20, medium);
                    color: $laranja;
                    text-transform: uppercase;
                    margin: 0 0 10px 0;
                    line-height: 1.2;
                    transition: 0.5s ease-in-out;

                    +below($tablet) {
                        font-size: 16px;
                    }
                }

                .subtitulo {
                    raleway(16, medium);
                    color: $cinza;
                    margin: 0;
                    line-height: 1.5;

                    +below($tablet) {
                        font-size: 12px;
                    }
                }
            }

            .img-setinha {
                position: relative;
                top: 15px;
                right: 0;
                float: right;
                transition: transform 0.5s;

                +below($tablet) {
                    width: 16px;
                    top: 10px;
                }
            }

            &:hover {
                .textos-servico {
                    box-shadow: 0px 10px 0px 1px $laranja;

                    .titulo {
                        color: $azul;
                    }
                }

                .img-setinha {
                    transform: rotate(360deg);
                }
            }
        }

        .inicie-seu-negocio {
            div.icone {
                background: $img('icone-inicieseunegocio.svg') no-repeat center / 65% #FFF;
                transition: background 0.5s ease-in-out;
            }

            &:hover {
                div.icone {
                    background: $img('icone-inicieseunegocio-branco.svg') no-repeat center / 65% $laranja;
                }
            }
        }

        .cta {
            div.icone {
                background: $img('icone-cta.svg') no-repeat center / 65% #FFF;
                transition: background 0.5s ease-in-out;
            }

            &:hover {
                div.icone {
                    background: $img('icone-cta-branco.svg') no-repeat center / 65% $laranja;
                }
            }
        }

        .treinamentos-e-palestras {
            div.icone {
                background: $img('icone-treinamentospalestras.svg') no-repeat center / 65% #FFF;
                transition: background 0.5s ease-in-out;
            }

            &:hover {
                div.icone {
                    background: $img('icone-treinamentospalestras-branco.svg') no-repeat center / 65% $laranja;
                }
            }
        }
    }
}