section.servico-ao-cliente-show {
    width: 100%;
    height: auto;
    margin-top: 110px;
    background-color: #fff;
    position: relative;

    .capa-servico {
        width: 100%;
        height: 490px;
        top: 0;
        background-position: center;
        background-size: cover;

        +below($tablet) {
            height: 400px;
        }

        +mobile() {
            height: 300px;
        }
    }

    .dados-servico {
        width: 90%;
        height: auto;
        margin: 95px auto 80px auto;
        display: flex;
        align-items: flex-start;

        +below($tablet) {
            margin: 80px auto 60px auto;
        }

        +mobile() {
            flex-direction: column;
            margin: 50px auto;
        }

        .left {
            width: 50%;
            padding: 0 100px 0 0;

            +below($tablet) {
                padding: 0 50px 0 0;
            }

            +mobile() {
                width: 100%;
                padding: 0;
            }

            .servico {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                div.icone {
                    width: 120px;
                    height: 120px;
                    padding: 20px;
                    background-color: #FFF;
                    border: 1px solid $laranja;
                    border-radius: 50%;

                    +below($tablet) {
                        width: 90px;
                        height: 90px;
                        padding: 10px;
                    }

                    +mobile() {
                        width: 70px;
                        height: 70px;
                        padding: 5px;
                    }
                }

                .dados {
                    width: calc('100% - 120px - 40px');
                    margin-left: 40px;

                    +below($tablet) {
                        width: calc('100% - 90px - 25px');
                        margin-left: 25px;
                    }

                    +mobile() {
                        width: calc('100% - 70px - 15px');
                        margin-left: 15px;
                    }

                    .titulo-servico {
                        exo(36, medium);
                        color: $laranja;
                        text-align: left;
                        text-transform: uppercase;
                        margin: 0;

                        +below($tablet) {
                            font-size: 26px;
                        }

                        +mobile() {
                            font-size: 18px;
                        }
                    }

                    .subtitulo-servico {
                        raleway(18, medium);
                        color: $cinza;
                        text-align: left;
                        margin: 10px 0 0 0;

                        +below($tablet) {
                            font-size: 14px;
                        }

                        +mobile() {
                            margin: 5px 0 0 0;
                            font-size: 12px;
                        }
                    }
                }
            }

            .inicie-seu-negocio {
                div.icone {
                    background: $img('icone-inicieseunegocio.svg') no-repeat center / 68% #FFF;
                }
            }

            .cta {
                div.icone {
                    background: $img('icone-cta.svg') no-repeat center / 68% #FFF;
                }
            }

            .treinamentos-e-palestras {
                div.icone {
                    background: $img('icone-treinamentospalestras.svg') no-repeat center / 68% #FFF;
                }
            }

            .imagens {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 100px;

                +below($tablet) {
                    margin-top: 60px;
                }

                +mobile() {
                    margin: 50px 0 30px 0;
                }

                .link-imagem {
                    width: calc('(100% - 30px) / 2');
                    height: 240px;
                    margin: 0 0 30px 0;
                    position: relative;

                    +below($tablet) {
                        width: calc('(100% - 20px) / 2');
                        height: 150px;
                        margin: 0 0 20px 0;
                    }

                    +mobile() {
                        height: 120px;
                    }

                    .img-servico {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: relative;
                    }
                }
            }
        }

        .right {
            width: 50%;
            padding: 0 0 0 50px;

            +mobile() {
                width: 100%;
                padding: 0;
            }

            .texto-servico {
                width: 100%;
                raleway(18, medium);
                color: $cinza;
                text-align: left;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                }

                > p {
                    margin: 0 0 20px 0;
                    line-height: 1.8;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }
                }
            }

            .info-dados {
                .titulo-info {
                    raleway(18, bold);
                    color: $azul;
                    margin: 25px 0 0 0;
                    transition: 0.5s ease-in-out;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 13px;
                    }

                    > span {
                        color: $laranja;
                        margin-right: 5px;
                    }
                }

                .frase-info {
                    raleway(18, medium);
                    color: $cinza;
                    margin: 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }
            }

            .link-info {
                &:hover {
                    .titulo-info {
                        color: $laranja;
                    }
                }
            }
        }
    }

    .servicos {
        width: 100%;
        height: auto;
        background-color: #F2F3F7;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 110px;
        padding: 100px 0;

        +below($tablet) {
            margin-bottom: 60px;
            padding: 75px 0;
        }

        +mobile() {
            flex-direction: column;
            padding: 50px 0;
        }

        .link-servico {
            margin: 0 35px;
            position: relative;

            +below($tablet) {
                margin: 0 20px;
            }

            +mobile() {
                margin: 10px 0 15px 15px;
            }

            div.icone {
                width: 90px;
                height: 90px;
                padding: 15px;
                background-color: #FFF;
                border: 1px solid $laranja;
                border-radius: 50%;
                position: absolute;
                top: 20px;
                left: -45px;

                +below($tablet) {
                    width: 60px;
                    height: 60px;
                    padding: 10px;
                    top: 15px;
                    left: -30px;
                }
            }

            .textos-servico {
                width: 340px;
                height: 170px;
                background-color: #FFF;
                border: none;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 35px 30px 0 65px;
                transition: box-shadow 0.5s ease-in-out;

                +below($tablet) {
                    width: 250px;
                    height: 130px;
                    padding: 20px 20px 0 45px;
                }

                .titulo {
                    exo(20, medium);
                    color: $laranja;
                    text-transform: uppercase;
                    margin: 0 0 10px 0;
                    line-height: 1.2;
                    transition: 0.5s ease-in-out;

                    +below($tablet) {
                        font-size: 16px;
                    }
                }

                .subtitulo {
                    raleway(16, medium);
                    color: $cinza;
                    margin: 0;
                    line-height: 1.5;

                    +below($tablet) {
                        font-size: 12px;
                    }
                }
            }

            .img-setinha {
                position: relative;
                top: 15px;
                right: 0;
                float: right;
                transition: transform 0.5s;

                +below($tablet) {
                    width: 16px;
                    top: 10px;
                }
            }

            &:hover {
                .textos-servico {
                    box-shadow: 0px 10px 0px 1px $laranja;

                    .titulo {
                        color: $azul;
                    }
                }

                .img-setinha {
                    transform: rotate(360deg);
                }
            }
        }

        .inicie-seu-negocio {
            div.icone {
                background: $img('icone-inicieseunegocio.svg') no-repeat center / 65% #FFF;
                transition: background 0.5s ease-in-out;
            }

            &:hover {
                div.icone {
                    background: $img('icone-inicieseunegocio-branco.svg') no-repeat center / 65% $laranja;
                }
            }
        }

        .cta {
            div.icone {
                background: $img('icone-cta.svg') no-repeat center / 65% #FFF;
                transition: background 0.5s ease-in-out;
            }

            &:hover {
                div.icone {
                    background: $img('icone-cta-branco.svg') no-repeat center / 65% $laranja;
                }
            }
        }

        .treinamentos-e-palestras {
            div.icone {
                background: $img('icone-treinamentospalestras.svg') no-repeat center / 65% #FFF;
                transition: background 0.5s ease-in-out;
            }

            &:hover {
                div.icone {
                    background: $img('icone-treinamentospalestras-branco.svg') no-repeat center / 65% $laranja;
                }
            }
        }
    }
}